
p {
    font-size: 1.25rem;
    margin-top: 43px;
    margin-left: 17px;

}
section {
    padding-left: 498px;
    margin-top: 78px;
    height: 264px;
}
a {
    color: #ecf0f1;
    padding-left: 590px;
}

