body {
    background: #833471;
    text-align: center;
}

h5 {
    color:#ecf0f1; 
    text-align: center; 
    font-family: charlesworth; 
    padding:8px
}
form {
    margin-top: 77px;
    margin-left: 270px;
    margin-right: 270px;
    margin-bottom:176px;
}
footer {
    height: 41px; 
    background: #6F1E51;
}
a {
    padding-left: 590px;
}