
h5 {
    color:#ecf0f1; 
    text-align: center; 
    font-family: charlesworth; 
    padding:8px
}
section {
    background: #833471; 
    height: 321px
}
img {
    border-radius: 100%; 
    margin-left: 605px; 
    margin-top: 51px;
    height: 150px;
    width: 150px;
}
h5 {
    color:#ecf0f1; 
    text-align: center; 
    font-family: charlesworth;
}
div {
    background: #ecf0f1; 
    height: 321px; 
    text-align: center;
}
a {
    color: #ecf0f1;
    padding-left: 590px;
}
